/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sitemap.xml
public/ads.txt
ads.txtSearch-Console-*/
.DS_Store
.psysh/

# Ignore all .md files except README.md
*.md
!README.md
